body .banner-wrapper {
    position: relative; 
    width: 100%;
    height: 300px;
    overflow: hidden;
}
body .banner {
    position:absolute;
    overflow: hidden;
    
}
body .banner.dev {
    transform: skew(-20deg);
    margin-left: -500px;
    width: calc(50vw + 500px);
}
body .banner.dev .banner-content {
    transform: skew(20deg);
    margin-left: 500px;
    
}
body .banner .banner-content {
    height: 300px;
   
}
body .banner img {
    width: 470px;
    height: 300px;
    border-radius: 20px 20px 0 0; 
}
@media (max-width:617px) {
    
    body .banner img {
        
    }
}

@media (max-width:617px) {
    body .banner-wrapper {
        position: relative; 
        width: 100%;
        height: 300px;
        overflow: hidden;
    }
    body .banner img {
        width: 275px;
        height: 300px;
        border-radius: 20px 20px 0 0; 
    }
}
