footer {
    margin-top: 10%;
    width: 100%;
}

.container {
    font-size: 16px;
    text-decoration: none;
}

.t {
    font-weight: 700 !important;
    color: burlywood;
}

.w {
    color: aliceblue;
}

ul {
    list-style-type: none;
    padding: 0;
}
.ooo {
    width: 100px;
    margin-inline: auto;
    height: 100px;
}
.ooo img{
    width: 100%;
}

@media (max-width:617px) {
    footer {
        text-decoration: none;
    }
}
